@{
    ViewBag.Title = "Contact";

    string MyLetters = "ABC";
    int MyNumber = 10 * 30;

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@MyLetters</h3>
<h3>@MyNumber</h3>

<form method="POST" action="/Home/ThankYou">
    First Name: <input type="text" name="firstname" /><br /><br />
    Last Name: <input type="text" name="lastname" /><br /><br />

    @Html.Raw(ViewBag.EmailStatusMessage)

    Email: <input type="text" name="emailaddress" /><br /><br />
    <input type="submit" value="Submit">
</form>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>